.menu{
    padding: 15px 0;
    background-color: #4B55AD;
    position: sticky;
}
.menu a{
    text-decoration: none;
    margin-right: 40px;
    color: whitesmoke;
    font-weight: 500;
}
.menu a:hover{
   color: black;

}
.menu a.active{
   color: black;
}