.footer-container{
    background-color: #2F3030;
    padding-top: 30px;
    padding-bottom: 1px;
}
.main-footer{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}